<!-- @under the team neuroninjas @dristi @cheta @dileep @ dev @ dilkush just for demo purpose-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>save_backdoor</title>
</head>
<body>
    <form action="/input" method="post">
    <input type="text" placeholder="disease" name="disease">
    <input type="text" name="desc" placeholder="desc">
    <input type="text" name="imagelink" placeholder="image link">
    <input type="text" placeholder="population" name="population">
    <input type="text" placeholder="man" name="man">
    <input type="text" placeholder="ladies" name="ladies">
    <input type="submit">
    </form>
</body>
</html>